force-app/main/default/flows/Opp_Line_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Amount_Change_New_Quote</name>
        <label>Amount Change/New Quote</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amount_and_New_Proposal_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_OpportunityLineItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Latest_Line_created__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PriorLineCreatedTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_counter</targetReference>
            </connector>
            <label>Amount and New Proposal Decision</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>newCountValue</name>
        <dataType>Number</dataType>
        <expression>{!$Record.counter__c + 1}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PriorLineCreatedTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record__Prior.Latest_Line_created__c}</expression>
    </formulas>
    <interviewLabel>Opp Line flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp Line flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_OpportunityLineItem</name>
        <label>Get all OpportunityLineItem</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Amount_Change_New_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_counter</name>
        <label>update counter</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>counter__c</field>
            <value>
                <elementReference>newCountValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_OpportunityLineItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Count_of_OppyProducts__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
